<!DOCTYPE html>
<html>
    <head>
        <title>Main page for algorithm visualisation.</title>
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    </head>
    <body>
        <header>
            <div class="main-header-container" id="main-header">
                <div class="logo" id="logo">
                    <h2>AlgoVisualizer</h2>
                </div>
                <div class="algoriths" id="algorithms">
                    <select name="algo" id="algo" placeholder="Select Algorithm" onchange="setSelectedAlgorithm(this)">
                        <option value="dijkstra">Dijkstra</option>
                        <option value="quick-sort">QuickSort</option>
                        <option value="merge-sort">MergeSort</option>
                        <option value="selection-sort">SelectionSort</option>
                      </select>
                </div>
            </div>
        </header>
        <main class="main-content" id="main-content">
            <button class="algorithm-button" id="algo-button" onclick="runAlgorithm()"></button>
        </main>
        <footer class="footer" id="footer">
            Footer will be here.
        </footer>
    </body>
</html>